<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show),class:"book-show" %>
  </div>
  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @book.title %></h2>
      <h3 class="book-author"> <span>来自：</span> <%= @book.authur %></h3>
      <h4 class="avg-rating">平均打分:<div class="average-review-rating" data-score=<%= @average_review%>></div></h4>
      <span class="number-of-reviews">根据<%= @book.reviews.count%>个评价</span>
      <h4 class="current-category">类目：<%= @book.category.name %></h4>
      <p class="book-desc"><%= @book.description %></p>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="reviews">
      <h1>评论</h1>
      <%= render @book.reviews %>
      <div >
        <%= link_to "添加评论" ,new_book_review_path(@book),class:"btn btn-custom"  %>
      </div>
    </div>

  </div>
</div>
<div class="links btn-group">
  <%= link_to "回退",root_path,class:"btn btn-custom" %>
  <% if user_signed_in? %>
    <% if @book.user_id == current_user.id%>

      <%= link_to "编辑",edit_book_path(@book),class:"btn btn-custom" %>
      <%= link_to "删除",book_path(@book),method: :delete,data:{confirm:"are you sure?"},class:"btn btn-custom" %>
    <% end %>
  <% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly:true,
    score: function() {
      return $(this).attr('data-score');
    },
    path:'/assets/'
  });
</script>
<script>
  $('.average-review-rating').raty({
    readOnly:true,
    score: function() {
      return $(this).attr('data-score');
    },
    path:'/assets/'
  });
</script>
