<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show),class:"book-show" %>
  </div>
  <div class="col-md-8">

    <h2><%= @book.title %></h2>
    <h3><%= @book.authur %></h3>
    <h4>平均打分:<div class="average-review-rating" data-score=<%= @average_review%>></div></h4>
    <span>根据<%= @book.reviews.count%>个评价</span>
    <h4>类目：<%= @book.category.name %></h4>
    <p><%= @book.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render @book.reviews %>
    <div >
      <%= link_to "添加评论" ,new_book_review_path(@book) %>
    </div>
  </div>
</div>

<%= link_to "回退",root_path %>
<% if user_signed_in? %>
  <% if @book.user_id == current_user.id%>

    <%= link_to "编辑",edit_book_path(@book) %>
    <%= link_to "删除",book_path(@book),method: :delete,data:{confirm:"are you sure?"} %>
  <% end %>
<% end %>
<script>
  $('.review-rating').raty({
    readOnly:true,
    score: function() {
      return $(this).attr('data-score');
    },
    path:'/assets/'
  });
</script>
<script>
  $('.average-review-rating').raty({
    readOnly:true,
    score: function() {
      return $(this).attr('data-score');
    },
    path:'/assets/'
  });
</script>
